{% extends "my_app/base_page.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="border-top pt-2">
            <small>
                {{ user.username }}
            </small>
</div>
    {% for package in packages %}
        <h1>{{package.package_name}}</h1>
        <p>Price: {{package.package_price}}</p>
        <p>Duration: {{package.package_duration}}</p>
    {% endfor %}
{% else %}
        <div class="border-top pt-2">
            <small>
                <a href="{% url 'login' %}">You need to be Logged In to see the content</a>
            </small>
        </div>

{% endif %}
{% endblock content %}
